@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap");
body {
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  text-align: center;
}
header {
  height: 740px;
  text-align: center;
}
#img-sfondocontain {
  height: 40px;
  background-color: black;
  text-align: start;
  padding: 20px;
}
#img-sfondocontain > img {
  height: 70%;
}
h1,
h2 {
  color: #25a2c3;
  line-height: 1;
  margin: 0cm;
}
#sfondo {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  padding: 20px 400px;
}
button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  color: white;
  border: 0cm;
  cursor: pointer;
  padding: 30px;
  font-size: 1.2em;
  margin: 30px;
}
#img-circle > img {
  width: 100%;
  height: 100%;
  border-radius: 300px;
}
#img-circle {
  width: 300px;
  display: inline-block;
}
#div {
  display: inline-block;
}
#testimonianze {
  background-color: #e22d0e;
  color: white;
  margin: 100px 0px;
  text-align: center;
}
h3 {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}
.testimonianze-p {
  font-style: italic;
  font-size: 0.8em;
  margin: 40px;
}
.testimonianze-p + p {
  margin-bottom: 0;
}
.testimonianze-p:last-of-type {
  padding-bottom: 25px;
  margin-top: 0cm;
}
aside {
  border: 1px solid #dee1e3;
  height: 500px;
  width: 200px;
  display: inline-block;
  margin: 10px;
}
aside p {
  margin: 32px 32px;
}
aside > div {
  height: 100%;
  width: 100%;
}
aside img {
  width: 100%;
}
footer > div > p {
  margin: 0cm;
  font-weight: 300;
}
h1 {
  text-transform: capitalize;
}
h2 {
  font-size: 1em;
}
footer {
  color: white;
  background-color: #25a2c3;
  padding: 40px;
}
footer a {
  color: white;
}
.copyright {
  font-size: 0.7em;
  border-top: 1px solid white;
  padding-top: 15px;
  width: 170px;
  margin: 15px auto;
  font-weight: 300;
}
